package templates

templ Index(slug, email string, id uint) {
	<div>Welcome { email } - userId { id } - slug { slug }</div>
}

templ GuestIndex(slug string) {
	<div>
		Welcome guest - { slug }
	</div>
}
